main {
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: auto;
}

body {
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    gap: 20px;
    text-align: left;
}

.chart-container {
    display: inline-block;
    /* border: 1px solid #ccc; */
    /* top right bottom left */
    padding: 10px 50px 10px 50px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(201, 199, 199, 0.1);
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.chart-div {
    margin: 0 auto;
}